image: docker:24.0.2

services:
  - docker:24.0.2-dind

stages:
  - build_and_test
  - deploy

variables:
  DOCKER_DRIVER: overlay2

# ----------------------------
# Build et test des microservices
# ----------------------------
service-client-build-test:
  stage: build_and_test
  image: maven:3.9.6-eclipse-temurin-21
  script:
    - echo "Build et test du service client"
    - cd service-client
    - mvn clean test
    - mvn package -DskipTests
  artifacts:
    paths:
      - service-client/target/*.jar
    expire_in: 1 hour

service-reservation-build-test:
  stage: build_and_test
  image: maven:3.9.6-eclipse-temurin-21
  script:
    - echo "Build et test du service reservation"
    - cd service-reservation
    - mvn clean test
    - mvn package -DskipTests
  artifacts:
    paths:
      - service-reservation/target/*.jar
    expire_in: 1 hour

service-vehicules-build-test:
  stage: build_and_test
  image: maven:3.9.6-eclipse-temurin-21
  script:
    - echo "Build et test du service vehicules"
    - cd service-vehicules
    - mvn clean test
    - mvn package -DskipTests
  artifacts:
    paths:
      - service-vehicules/target/*.jar
    expire_in: 1 hour

# ----------------------------
# Déploiement (optionnel)
# ----------------------------
deploy-all:
  stage: deploy
  script:
    - echo "Déploiement des services..."
    # ici tu peux ajouter docker-compose, kubectl, ou autre
  when: manual
