image: docker:24.0.2

services:
  - docker:24.0.2-dind

stages:
  - build_and_test
  - docker_build
  - docker_push
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_USER: "$CI_REGISTRY_USER"    # ou ton utilisateur DockerHub
  DOCKER_PASSWORD: "$CI_REGISTRY_PASSWORD"  # ou ton mot de passe DockerHub
  DOCKER_COMPOSE_VERSION: "2.21.0"    # version compose CLI

# ----------------------------
# Build et test des microservices
# ----------------------------
service-client-build-test:
  stage: build_and_test
  image: maven:3.9.6-eclipse-temurin-21
  script:
    - echo "Build et test du service client"
    - cd service-client
    - mvn clean test
    - mvn package -DskipTests
  artifacts:
    paths:
      - service-client/target/*.jar
    expire_in: 1 hour

service-reservation-build-test:
  stage: build_and_test
  image: maven:3.9.6-eclipse-temurin-21
  script:
    - echo "Build et test du service reservation"
    - cd service-reservation
    - mvn clean test
    - mvn package -DskipTests
  artifacts:
    paths:
      - service-reservation/target/*.jar
    expire_in: 1 hour

service-vehicules-build-test:
  stage: build_and_test
  image: maven:3.9.6-eclipse-temurin-21
  script:
    - echo "Build et test du service vehicules"
    - cd service-vehicules
    - mvn clean test
    - mvn package -DskipTests
  artifacts:
    paths:
      - service-vehicules/target/*.jar
    expire_in: 1 hour

# ----------------------------
# Build des images Docker
# ----------------------------
docker-build:
  stage: docker_build
  script:
    - docker build -t $DOCKER_USER/service-client:v2 ./service-client
    - docker build -t $DOCKER_USER/service-vehicules:v2 ./service-vehicules
    - docker build -t $DOCKER_USER/service-reservation:v2 ./service-reservation

# ----------------------------
# Push des images Docker
# ----------------------------
docker-push:
  stage: docker_push
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
    - docker push $DOCKER_USER/service-client:latest
    - docker push $DOCKER_USER/service-vehicules:latest
    - docker push $DOCKER_USER/service-reservation:latest

# ----------------------------
# Déploiement via docker-compose
# ----------------------------
deploy-all:
  stage: deploy
  image: docker:24
  services:
    - docker:24-dind
  script:
    - apk add --no-cache curl  # si besoin pour vérifier compose
    - docker compose -f docker-compose.yml pull
    - docker compose -f docker-compose.yml up -d --remove-orphans
  only:
    - main
